@CHARSET "UTF-8";

.node-restaurant .photos-wrapper{
  position: relative;
}
.node-restaurant .photos{
  float: left;
  width: 100%;
  position: relative;
  height: 100%;
  overflow-y: scroll;
}
.node-restaurant .logo{
  position: absolute;
  z-index: 2;
  top: 123px;
}
.node-restaurant .photo img{
  min-height: 100%;  
}

.node-restaurant .tips{
  float: left;
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.node-restaurant .tips-container{
  overflow-y: scroll;
  height: 180px;
  position: relative;
}


.node-restaurant .tips p{
  margin:0;
}

.node-restaurant .tips .tip{
  position: relative;
  width: 100%;
  float: left;
}

.node-restaurant .tips .tip .left,
.node-restaurant .tips .tip .right{
  float: left;
}

.node-restaurant .tips .tip .right{
  position: relative;
  width: 90%;
  margin-left: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}

.node-restaurant .tips .user{
  font-weight: bold;
}

.node-restaurant .fb-comments,
.node-restaurant .fb-comments *{
  position: relative;
  width: 100% !important;
}

#map_canvas{
  width: 100%;
  height: 235px;
  position: relative;
  border: 2px solid black;
  
}
